name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Enable pnpm
        run: corepack enable
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm
      - name: Setup ni
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Lint
        run: nr lint
      - name: Build
        run: nr build
